*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
* {
	padding: 0;
	margin: 0;
	border: 0;
}
:focus,
:active {
	outline: none;
}

a:focus,
:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 100%;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a:visited {
	text-decoration: none;
}

ul li {
	list-style: none;
}
body {
	font-family: sans-serif;
	color: black;
	height: 100%;
}
.wrapper {
	background-color: black;
	min-height: 100%;
}
.conteyner {
	margin: 0 auto;
	padding-top: 45px;
	width: 880px;
	display: flex;
	flex-direction: column;
}
.block-location {
}
.block-location__mesto {
	color: white;
	margin-bottom: 41px;
}
.block-location__img-logo {
	width: 142px;
	height: 33px;
}
hr {
	border: 1px solid #545454;
	margin-bottom: 3%;
	width: 100%;
}
.form-input{
	border-bottom: 1px solid gray;
}
.block-avatar {
	display: flex;
	margin-bottom: 45px;
	width: 100%;
}
.block-avatar__img-avatar {
}
.block-avatar__img {
	border-radius: 50%;
	height: 127.5px;
	width: 128.75px;
}
.block-avatar__framebusiness-card {
	padding-left: 22px;
	display: flex;
	flex-direction: column;
	color: white;
	vertical-align: top;
	width: 294px;
}
.block-avatar__full-name {
	font-family: Inter;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: 48px;
	letter-spacing: 0em;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.block-avatar__img-chang {
}
.block-avatar__pen-frame {
	margin-left: 15px;
	cursor: pointer;
	padding-top: 1.5%;
}
.block-avatar__pen-frame:hover {
	opacity: 0.5;
}
.block-avatar__profession {
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	white-space: nowrap;
}
.block-avatar__add-card {
	justify-content: end;
	cursor: pointer;
	margin-left: auto;
}
.block-avatar__add-card:hover {
	opacity: 0.5;
}

.block-avatar__img-plus {
}
.block-avatar__add-button {
	height: 50px;
	width: 150px;
	border-radius: 2px;
	margin-right: 0;
}
.block-avatar__plus-frame {
}
.block-avatar__plus {
}
.block-card {
	width: 880px;
	margin-bottom: 66px;
	flex: 1 1 auto;
}
.block-card__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px auto;
	width: 100%;
}
.block-card__item {
	height: 361px;
	width: 282px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	margin: 4.5px;
	overflow: hidden;
	/* flex: 0px 1 33.333%; */
}

.block-card__item:activ {
	transform: scale(2.2, 2.2);
}

.block-card__img {
	height: 282px;
	width: 282px;
	position: relative;
	object-fit: cover;
}

.block-card__delete-photo {
	position: absolute;
	right: 5%;
	top: 5%;
	cursor: pointer;
	opacity: 0;
	width: 15px;
	height: 15px;
}
.show-cross {
	opacity: 1;
}
.block-card__photo-city {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.block-card__name-city {
	padding: 21px;
	background-color: white;
	height: 79px;
	width: 282px;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: flex;
	text-align: center;
	align-items: center;
}
.block-card__city {
}
.block-card__heart {
	cursor: pointer;
	margin-left: auto;
	width: 19px;
	height: 19px;
}
.white-heart::after {
	content: "\2661";
}
.black-heart::after {
	content: "\1F5A4";
}
.block-card__heart:hover {
	color: black;
}
.block-footer {
	color: #545454;
	padding-bottom: 60px;
}
.block-footer__mesto {
	width: 317px;
	height: 18px;
	font-size: 18px;
}
* input {
	padding: 5px;
}
.input-focus:focus{
	border: 1px solid blue;
}
.form__input_type_error {
	border-bottom: 1px solid red;
	/* Нижняя рамка становится красной всякий раз, 
	когда введённые данные некорректны */
 } 
input:focus:invalid {
	outline: none;
}


.popup__error_visible{
	color: red;
}
.popup__button_disabled {
	opacity: 0.2;
	pointer-events: none;
 }
.popup-profile__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
	position: relative;
}
.popup-profile__conteiner {
	height: 330px;
	width: 530px;
	border-radius: 10px;
	background-color: white;
}
.popup-profile__profile {
	padding: 36px;
}
.popup-profile__title {
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	line-height: 29px;
	letter-spacing: 0em;
}
.popup-profile__full-name {
	margin: 1px;
	width: 100%;
	height: 50px;
	margin-bottom: 35px;
}
.popup-profile__input-full-name {
	width: 100%;
	height: 100%;
}
.popup-profile__profession {
	margin: 5px;
	width: 100%;
	height: 50px;
	margin-bottom: 35px;
}
.popup-profile__input-profession {
	width: 100%;
	height: 100%;
}
.popup-profile__button {
	margin-top: 20px;
	width: 100%;
	height: 50px;
	background-color: #000000;
	color: white;
}
.popup-profile__closed {
	position: absolute;
	top: -30px;
	left: 450px;
	cursor: pointer;
}
.popup-profile__closed:hover {
	opacity: 0.5;
}
.popup-add-card__conteiner {
	height: 340px;
	width: 430px;
	border-radius: 10px;
	background-color: white;
	position: relative;
}
.popup-add-card__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
	position: relative;
}
.popup-add-card__new {
	padding: 36px;
}
.popup-add-card__title {
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	line-height: 29px;
	letter-spacing: 0em;
}
.popup-add-card__img {
	margin: 5px;
	width: 358px;
	height: 50px;
	margin-bottom: 5%;
}
.popup-add-card__input-photo {
	width: 100%;
	height: 100%;
}
.popup-add-card__name-city {
	margin: 5px;
	width: 358px;
	height: 50px;
	margin-bottom: 5%;
}
.popup-add-card__input-name-city {
	width: 100%;
	height: 100%;
}
.popup-add-card__button {
	margin-top: 20px;
	width: 358px;
	height: 50px;
	background-color: #000000;
	color: white;
}
.popup-add-card__closed {
	position: absolute;
	top: -30px;
	right: -30px;
	cursor: pointer;
}
.popup-add-card__closed:hover {
	opacity: 0.5;
}

.popup-card {
}
.popup-card__conteiner {
	position: relative;
	margin: 0px auto;
	width: 50%;
	height: 80%;
}
.popup-card__img {
	position: relative;
	width: 100%;
	height: 100%;
}
.popup-card__closed {
	position: absolute;
	right: -5%;
	top: -7%;
	cursor: pointer;
}
.popup-card__closed:hover {
	opacity: 0.5;
}
.popup-card__name-city {
	padding: 21px;
	background-color: white;
	height: 79px;
	width: 40%;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: flex;
}
.block-card__item:hover .block-card__delete-photo {
	opacity: 1;
}
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: visibility 0.3s, opacity 0.3s linear;
}
.popup-opened {
	opacity: 1;
	visibility: visible;
}
.popup-card .popup-opened {
	opacity: 1;
	visibility: visible;
	background-color: #000000;
}
.button_inactive{
	background-color: rgb(151, 133, 133);
}